__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

*.egg-info/
*.egg
*.eggs/
*.eggs
*.eggs.zip
*.eggs.tar.gz
*.eggs.tar.bz2
*.eggs.tar.xz
*.eggs.tar.lzma
*.eggs.tar.lzma.tar.gz

*.env

*.DS_Store